<div id="intro">
  <p class="text-center lead">A <code>/deploy</code> command for your Slack team</p>
  <p class="text-center"><%= add_to_slack %></p>
  <br>
  <p class="text-center">SlashDeploy is an <a href="https://github.com/remind101/slashdeploy#slashdeploy--">Open Source Rails</a> project maintained by <a href="https://www.remind.com">Remind</a>. You should join us in development!</p>   
</div>
