<div class="row">
  <div class="col-md-12">
    <h4 class="text-center text-success">Success!</h4>
    <p class="text-center">SlashDeploy has been installed in your Slack team. Type <code>/deploy</code> in Slack to get started.</p>
  </div>
</div>
